@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

.text-center {
  color: rgb(56, 53, 50);
  text-align: center;
}

select {
  background-color: white;
  border: none;
  padding: 8px;
}

input {
  background-color: white;
  background-image: none;
  border: none;
  box-shadow: none;
  margin: 10px;
  padding: 10px;
}

.Input-value {
  width: 50px;
  padding: 8px;
}

.Login {
  background-color: rgb(231, 233, 232);
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px rgb(46, 44, 44), 0 4px 6px -2px rgb(0 0 0 / 5%);
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 20px;
  width: 300px;
}

.Login .login-inputs {
  display: flex;
  flex-direction: column;
}

button {
  background-color: rgb(78, 168, 145);
  background-image: none;
  border: 5px;
  color: white;
  font-weight: 800;
  height: 35px;
  margin: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 280px;
}

button:hover {
  background-color: rgb(102, 170, 153);
}

.Button-wallet {
  background-color: #036D19;
  margin: 0;
  width: 145px;
}

.Button-container {
  display: flex;
}

.Button-delete {
  background-color: #FB5012;
  margin: 0;
  width: 100%;
}

.Button-delete:hover {
  background-color: #da6135;
}

.Button-update {
  background-color: #EAC435;
  margin: 0;
  width: 100%;
}

.Button-update:hover {
  background-color: #f4f749d7;
}

.Header {
  align-items: center;
  background-color: rgb(44, 62, 80);
  /* border-bottom: 1px solid #e1e1e1; */
  display: flex;
  height: 80px;
  justify-content: space-between;
  padding: 0 30px;
}

span, h1{
  color: #D6EDFF;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 35px;
}


.Total {
  padding-left: 40px;
}

.FormExpense {
  align-items: center;
  background-color: #E3D985;
  display: flex;
  justify-content: space-between;
}

table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}


/* https://github.com/tryber/sd-015-b-project-trybewallet/pull/95 */

